9# Data Analysis with Python

In [155]:
import pandas as pd

In [156]:
data=pd.read_csv("Downloads/Compressed/gdp_data.csv",skiprows=4)

In [157]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

In [158]:
data.shape

(264, 65)

In [159]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3741.875052,3596.804655,3891.266363,4080.330717,3603.025501,3780.003689,4045.614209,4419.914327,4417.509940,NaN
260,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1374.621285,1446.536354,1607.152365,1673.146354,1395.439633,1033.733043,882.395759,968.159048,NaN,NaN
261,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,443.009816,454.962013,473.011615,511.497253,548.995942,584.704072,...,8007.412846,7501.469984,6832.456891,6433.187277,5734.633629,5272.918425,6132.479841,6374.028196,6001.400814,NaN
262,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,232.188867,220.042137,212.578123,213.896441,242.384333,303.281910,...,1672.908251,1763.072733,1878.907001,1763.057298,1337.796110,1280.578898,1534.865371,1556.334482,1291.343357,NaN
263,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,278.813699,280.828951,276.688781,277.479715,281.558440,293.308854,...,1093.654002,1304.969802,1430.000818,1434.899340,1445.071062,1464.583529,1548.170056,1683.740577,1463.985910,NaN

In [160]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3741.875052,3596.804655,3891.266363,4080.330717,3603.025501,3780.003689,4045.614209,4419.914327,4417.509940,NaN
260,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1374.621285,1446.536354,1607.152365,1673.146354,1395.439633,1033.733043,882.395759,968.159048,NaN,NaN
261,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,443.009816,454.962013,473.011615,511.497253,548.995942,584.704072,...,8007.412846,7501.469984,6832.456891,6433.187277,5734.633629,5272.918425,6132.479841,6374.028196,6001.400814,NaN
262,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,232.188867,220.042137,212.578123,213.896441,242.384333,303.281910,...,1672.908251,1763.072733,1878.907001,1763.057298,1337.796110,1280.578898,1534.865371,1556.334482,1291.343357,NaN
263,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,278.813699,280.828951,276.688781,277.479715,281.558440,293.308854,...,1093.654002,1304.969802,1430.000818,1434.899340,1445.071062,1464.583529,1548.170056,1683.740577,1463.985910,NaN

In [161]:
# setting index
data.set_index("Country Name",inplace=True)

In [162]:
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

In [163]:
data.drop(labels=["Indicator Name","Indicator Code","Unnamed: 64"],axis="columns",inplace=True)

In [164]:
data.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602596,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN
Afghanistan,AFG,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,160.898589,129.108323,...,543.303042,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487
Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160
Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4094.350334,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411
Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40852.666777,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165

In [165]:
Pak=data.loc["Pakistan"]
italy=data.loc["Italy"]

In [166]:
Pak

Country Code        PAK
1960            83.3379
1961             89.409
1962            91.3192
1963            95.7034
                 ...
2015            1356.67
2016            1368.45
2017            1464.99
2018            1482.31
2019             1284.7
Name: Pakistan, Length: 61, dtype: object

In [167]:
type(italy)

pandas.core.series.Series

In [168]:
type(Pak)

pandas.core.series.Series

In [137]:
type(data)

pandas.core.frame.DataFrame

In [138]:
italy["2019"]

33189.5657988542

In [170]:
italy.head()

Country Code        ITA
1960            804.493
1961            887.337
1962             990.26
1963            1126.02
Name: Italy, dtype: object

In [140]:
Pak["2019"]

1284.70204090039

In [141]:
Pak.head()

Country Code        PAK
1960            83.3379
1961             89.409
1962            91.3192
1963            95.7034
Name: Pakistan, dtype: object

In [142]:
Pak.tail()

2015    1356.67
2016    1368.45
2017    1464.99
2018    1482.31
2019     1284.7
Name: Pakistan, dtype: object

In [176]:
#converting datagrame object to numeric
Pak1=pd.to_numeric(Pak, errors='coerce')

In [180]:
Pak_pct_change=Pak1.pct_change()

In [182]:
Pak_pct_change.head()

Country Code         NaN
1960                 NaN
1961            0.072849
1962            0.021364
1963            0.048009
Name: Pakistan, dtype: float64

In [207]:
Pak_pct_change=Pak_pct_change*100

In [184]:
Pak_pct_change

Country Code          NaN
1960                  NaN
1961             7.284898
1962             2.136440
1963             4.800920
                  ...
2015             8.432439
2016             0.868788
2017             7.054600
2018             1.181737
2019           -13.330828
Name: Pakistan, Length: 61, dtype: float64

In [188]:
italy2=pd.to_numeric(italy,errors="coerce")

In [195]:
italy_pct_change=italy2.pct_change()

In [196]:
italy_pct_change

Country Code         NaN
1960                 NaN
1961            0.102977
1962            0.115991
1963            0.137094
                  ...
2015           -0.148886
2016            0.023469
2017            0.047415
2018            0.065214
2019           -0.038543
Name: Italy, Length: 61, dtype: float64

In [202]:
italy_pct_change=italy_pct_change*100

In [203]:
italy_pct_change

Country Code          NaN
1960                  NaN
1961            10.297686
1962            11.599137
1963            13.709446
                  ...
2015           -14.888584
2016             2.346949
2017             4.741498
2018             6.521378
2019            -3.854334
Name: Italy, Length: 61, dtype: float64

In [204]:
italy_pct_change.idxmax()

'1986'

In [205]:
italy_pct_change.max()

41.60254037779829

In [209]:
Pak_pct_change.idxmax(
)

'1974'

In [210]:
Pak_pct_change.max()

3553.0470523257864